* {
    margin: 0;
    padding: 0;
    font-family: 'ProductSansLight';
}

@font-face {
    font-family: 'ProductSansThin'; /*a name to be used later*/
    src: url('./fonts/ProductSans-Thin.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'ProductSansLight'; /*a name to be used later*/
    src: url('./fonts/ProductSans-Light.ttf'); /*URL to font*/
}

.hero {
    height: 100%;
    width: 100%;
    background-color: #2a3b5e;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    padding-top: 3em;
    border-radius: 20px;
}

.button-box {
    width: 220px;
    margin: 5px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.toggle-btn:focus{
    -webkit-appearance: none;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
    top: 130px;
}